@import "../../assets/scss/config/fonts";
@import "../../assets/scss/config/reset";
@import "../../assets/scss/config/vars";
@import "../../assets/scss/config/global";



.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 30px;
	z-index: 2;

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
	}

	&__burger {
		display: none;
	}

	&__logo {}

	&__menu {}
}

.logo {

	&__title {
		margin-bottom: 10px;
		font-size: 32px;
		line-height: 110%;
		letter-spacing: 0.06em;
		color: $color-primary;
	}

	&__subtitle {
		padding-left: 4px;
		font-family: Arial;
		color: $color-light-xl;
		font-size: 13px;
		line-height: 15px;
		letter-spacing: 0.1em;
	}
}

.menu {
	font-family: Arial;
	font-size: 15px;
	color: $color-dark-s;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 35px;
	}

	&__item {}

	&__link {
		padding: 6px 0;
		color: $color-dark-s;
		font-size: 15px;
		line-height: 160%;
		transition: color .3s;

		&_active {
			border-bottom: 3px solid $color-primary;
			color: $color-light-s;
		}

		&:hover {
			color: $color-light-s;
		}

	}

}

.page {

	&__promo {}

	&__about {}

	&__friends {}

	&__help {}

	&__donation {}
}

.promo {
	position: relative;
	min-height: 100vh;
	padding-top: 340px;
	padding-bottom: 240px;
	background: url('../../assets/images/start-screen-gradient-background.png');
	background-size: cover;

	&__container {}

	&__content {
		position: relative;
		z-index: 2;

		max-width: 460px;
		color: #fff;
	}

	&__title {
		margin-bottom: 42px;
		max-width: 310px;

		font-size: 44px;
		line-height: 130%;
		color: $color-light-xl;
	}

	&__text {
		margin-bottom: 42px;

		font-family: Arial;
		font-size: 15px;
		line-height: 160%;
		color: $color-dark-s;
	}

	&__button {}

	&__image {
		position: absolute;
		bottom: 0;
		right: 40px;
		z-index: 1;
	}
}

.about {
	padding: 80px 0 100px 0;

	&__container {
		display: flex;
		justify-content: space-between;
		padding: 0 175px;
	}

	
	&__content {
		flex: 0 1 430px;
		padding-top: 12px;
	}

	&__title {
		max-width: 370px;
		margin-bottom: 25px;
	}

	&__text {
		font-family: Arial;
		font-size: 15px;
		line-height: 160%;
		color: $color-dark-xl;

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}

.friends {
	background: $color-light-l;
	padding: 80px 0 100px 0;

	// .friends__container
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 60px;
	}

	// .friends__title
	&__title {
		max-width: 400px;
		text-align: center;
	}

	// .friends__slider
	&__slider {
		position: relative;
		width: 100%;
		padding: 0 105px;
	}

	// .friends__slider-wrapper
	&__slider-wrapper {
		display: flex;
		justify-content: space-between;
		gap: 90px;
	}

	// .friends__slider-slide
	&__slider-slide {
		flex: 0 1 33.3333%;
		max-width: 270px;
	}

	// .friends__slider-button-prev
	&__slider-button-prev {
		position: absolute;
		left: 0;
		top: 44%;
	}

	// .friends__slider-button-next
	&__slider-button-next {
		position: absolute;
		right: 0;
		top: 44%;
	}

	// .friends__button
	&__button {}
}

.pet-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding-bottom: 30px;
	background: #fafafa;
	&:hover {
		background: #fff;
	}

	// .pet-item__image
	&__image {
		position: relative;
		width: 100%;
		padding-bottom: 100%;

		img {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .pet-item__name
	&__name {
		font-size: 20px;
		line-height: 23px;
	}

	// .pet-item__button
	&__button {}
}

.help {
	padding: 80px 0 100px 0;

	// .help__container
	&__container {}

	// .help__title
	&__title {
		text-align: center;

		span {
			display: block;
		}

		margin-bottom: 60px;
	}

	// .help__grid
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		// column-gap: 120px;
		// row-gap: 55px;
		gap: 55px 120px;
		padding: 0 90px;


	}

	// .help__item
	&__item {}
}

.item-help {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;

	// .item-help__icon
	&__icon {}

	// .item-help__title
	&__title {
		font-size: 20px;
		text-align: center;
	}
}

.donation {
	background: $color-light-l;
	padding: 80px 0 100px 0;
	// .donation__container
	&__container {
		display: flex;
		gap: 30px;
		padding: 0 145px;
	}
	// .donation__image
	&__image {
		flex: 0 1 505px;
		padding-top: 11px;
	}
	// .donation__content
	&__content {
		flex: 0 1 380px;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 20px;
		color: $color-dark-l;
	}
	// .donation__title
	&__title {
		max-width: 300px;
	}
	// .donation__bank-info
	&__bank-info {
		@extend %h5;
	}
	// .donation__card-info
	&__card-info {
		display: inline-flex;
		align-items: center;
		gap: 15px;
		padding: 10px 15px;
		@extend %h4;
		border-radius: 6px;
		background: $color-primary;
	}
	// .donation__card-info-icon
	&__card-info-icon {
		display: flex;
		align-items: center;
	}
	// .donation__legal-info
	&__legal-info {
		font-family: Arial;
		font-size: 12px;
		line-height: 18px;
		font-style: italic;
		color: $color-dark-m;
	}
}

.footer {
	position: relative;
	background-image: url('../../assets/images/footer-gradient-background.png');
	background-size: cover;
	padding-top: 40px;
	color: $color-primary;
	// .footer__container
	&__container {
		display: flex;
		gap: 160px;
	}
	// .footer__contacts
	&__contacts {		
	}
	// .footer__locations
	&__locations {}
	// .footer__image
	&__image {
		// flex: 0 1 300px;
		position: absolute;
		width: 100%;
		right: 40px;
		bottom: 0;
	// 	img {
	// 		position: absolute;
	// 		width: 100%;
	// 		height: 100%;
	// 		right: 0;
	// 		bottom: 0;
	// 		object-fit: cover;
	// 	}
	}
}
.contacts-footer {
	flex: 0 1 280px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	// .contacts-footer__title
	&__title {
		color: #fff;
	}
	// .contacts-footer__link
	&__link {
		display: flex;
		align-items: center;
		gap: 20px;

	}
	// .contacts-footer__link-mail
	&__link-mail {}
	// .contacts-footer__link-icon
	&__link-icon {}
	// .contacts-footer__link-text
	&__link-text {}
	// .contacts-footer__link-phone
	&__link-phone {}
}
.title {
}
.locations-footer {
	flex: 0 1 300px;
	display: flex;
	flex-direction: column;
	gap: 33px;
	// .locations-footer__title
	&__title {
		color: #fff;
	}
	// .locations-footer__adress
	&__adress {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	// .locations-footer__adress-icon
	&__adress-icon {}
	// .locations-footer__adress-text
	&__adress-text {}
}