@font-face {
    font-family: 'Georgia';
    font-display: swap;
    src: url("../../fonts/georgia-bold.woff") format("woff"), url("../../fonts/georgia-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    font-display: swap;
    src: url("../../fonts/georgia.woff") format("woff"), url("../../fonts/georgia.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Georgia';
    font-display: swap;
    src: url("../../fonts/georgia-italic.woff") format("woff"), url("../../fonts/georgia-italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}